<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MMA HUSTLER</title>
	<% include ./partials/head.ejs %>
</head>
<body>
<header>
	<% include ./partials/header.ejs %>
</header>
<div class="headliner"><center><h2><marquee>Book A Fighter for Public Speaking Engagement, Training Partner and Group Training</marquee></h2></center></div>

<div class="container col-lg-10 col-md-offset-1">
<div class="row">
<%fighters.forEach(function(fighter){%>
	<center>
	<div class="col-sm-3 pro">
	<img src= <%= fighter.image%> >
		<p><a href="/fighters/<%=fighter.id%>"><%= fighter.name%></a><br>
		<%= fighter.weight%><br>
		Wins: <%= fighter.wins%> 
		Losses:<%= fighter.losses%><br>

			<form action="/fighters/<%= fighter.id %>?_method=delete" method="POST">
			<a class="btn btn-primary" href="/fighters/update/<%= fighter.id%>" >Update</a>
					<button type="submit">Delete</button>
					</form>
					</p>

	</div>
	</center>
	<%});%>

</div>
</div>



<!-- <form action="/sort?_method=put" method="POST">
<button type="submit">Sort Alphabetically</button>
</form>
 -->
</center>
</table>
</body>
</html>