<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MMA HUSTLER</title>
	<% include ./partials/head.ejs %>
</head>
<body>
<header>
	<% include ./partials/header.ejs %>
</header>
<center><h1>Database for booking fighters</h1></center>
<div class="container col-md-10 col-md-offset-1">
<div class="row">
<%fighters.forEach(function(fighter){%>
	<center>
	<div class="col-md-3 pro">
	<img src= <%= fighter.image%> >
		<p><a href="/fighters/<%=fighter.id%>"><%= fighter.name%></a><br>
		<%= fighter.weight%><br>
		Wins: <%= fighter.wins%><br>
		Losses:<%= fighter.losses%></p>

	</div>
	</center>
	<%});%>

</div>
</div>



<!-- <form action="/sort?_method=put" method="POST">
<button type="submit">Sort Alphabetically</button>
</form>
 -->
</center>
</table>
</body>
</html>