<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show</title>
	 <% include ../partials/head %>
</head>


<body>
  <header>
        <% include ../partials/header %>
    </header>
<center>
<div class="container">
<div class="row">

	<center>
	<div class="col-md-12">
	<img src= <%= fighter.image%> >
		<p><%= fighter.name%></p>
		<p><%= fighter.gym%></p>
		<p><%= fighter.age%></p>
		<p><%= fighter.weight%></p>
		<p><%= fighter.wins%></p>
		<p><%= fighter.losses%></p>
		<p><%= fighter.draws%></p>
	</div>
	</center>


</div>
</div>

<a class="btn btn-primary" href="/fighters/update/<%= fighter.id%>" >Update</a>
</center>


</body>
</html>